.card1{
  background-color: var(--quinto);
  color: var(--tercero);
  width: 13rem !important;
}

.card2{
  background-color: var(--primero);
  color: var(--quinto);
}
a{
  color: var(--color-amber);
  text-decoration: none;
  padding-inline: 10px;
}
a:hover{
  color: var(--color-carrot);
  text-shadow: 10px 10px 10px var(--color-lynch); /*ver esto*/

}

