<div
[id]="id"
 [ngClass]="carouselClass"
[attr.data-bs-ride]="carouselRide"
  >
  <div [ngClass]="carouselClass1">
    <button type="button" [attr.data-bs-target]="target"  data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" [attr.data-bs-target]="target"  data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" [attr.data-bs-target]="target"  data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner   ">
    <div class="active"
    [ngClass]="carouselClass2">
      <img [src]="slide1Img" class="img" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{slide1Title}}</h5>
        <p>{{ slide1Text}}</p>
      </div>
    </div>
    <div [ngClass]="carouselClass2">
      <img [src]="slide2Img" class="img" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{slide2Title}}</h5>
        <p>{{ slide2Text}}</p>
      </div>
    </div>
    <div [ngClass]="carouselClass2">
      <img [src]="slide3Img" class="img " alt="...">

      <div class="carousel-caption d-none d-md-block">
        <h5>{{slide3Title}}</h5>
        <p>{{ slide3Text}}</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" [attr.data-bs-target]="target" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" [attr.data-bs-target]="target"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

