<div
  [id]="id"
  [class]="carouselClass"
  [attr.data-bs-ride]="carouselRide"
>
  <div [ngClass]="carouselClass1">
    <button type="button" [attr.data-bs-target]="target"  data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" [attr.data-bs-target]="target"  data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" [attr.data-bs-target]="target"  data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner ">
    <div class="active" [class]="carouselClass2">
        <img [src]="slide1Img" [class]="carouselImg" alt="...">
        <div class="carousel-caption d-none d-md-block">
        <h5>{{slide1Title}}</h5>
        <p>{{ slide1Text}}</p>
      </div>
    </div>
    <div [ngClass]="carouselClass2">
      <img [src]="slide2Img" [class]="carouselImg" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{slide2Title}}</h5>
        <p>{{ slide2Text}}</p>
      </div>
    </div>
    <div [ngClass]="carouselClass2">
      <img [src]="slide3Img" [class]="carouselImg" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{slide3Title}}</h5>
        <p>{{ slide3Text}}</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" [attr.data-bs-target]="target" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" [attr.data-bs-target]="target"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>





    <!-- *Reemplazar esto si se  necesita recorrer un array
    ! asi como esta ahora tiene un problema que cuando pasa a la segunda slide se traslada para abajo todo el carrousel por un microsegundo -->
    <!-- <div class="carousel-inner " *ngFor="let objeto of datosCarousel, let  i = index"> -->
    <!-- <div class="carousel-item" [ngClass]="{'active': i === 0}" >
      <img
      [src]="renombraPropiedades(objeto, var1, var2, var3, var4, var5, var6, var7).propiedad3 "
      [ngClass]="renombraPropiedades(objeto, var1, var2, var3, var4, var5, var6, var7).propiedad5" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ renombraPropiedades(objeto, var1, var2, var3, var4, var5, var6, var7).propiedad2 }}</h5>
        <p> {{ renombraPropiedades(objeto, var1, var2, var3, var4, var5, var6, var7).propiedad1 }}</p>
      </div>
    </div>
    </div>
   -->
