
.button{
  padding: 0.3rem 3rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

.button:hover{
  font-weight: 600;
}
.button1{
  background-color: var(--color-powder);
  color: var(--color-catSkill);
  border: 1px solid var(--color-catSkill);
}
.button1:hover{
  background-color: var(--color-catSkill);
  color: var(--color-powder);
  border: 1px solid var(--color-powder);
}

.button2{
  background-color: var(--color-lynch);
  color: var(--color-catSkill);
  border: 1px solid var(--color-catSkill);
}
.button2:hover{
  background-color: var(--color-catSkill);
  color: var(--color-powder);
  border: 1px solid var(--color-lynch);
}
.button3{
  background-color: var(--color-polo);
  color: var(--color-powder);
  border: 1px solid var(--color-powder);
}
.button3:hover{
  background-color: var(--color-powder);
  color: var(--color-catSkill);
  border: 1px solid var(--color-catSkill);
}
.button4{
  background-color: transparent;
  color: var(--color-powder);
  border: 1px solid var(--color-powder);
}
.button4:hover{
  background-color: var(--color-powder);
  color: var(--color-catSkill);
  border: 1px solid var(--color-catSkill);
}
.button5{
  background-color: transparent;
  color: var(--color-lynch);
  border: 1px solid var(--color-lynch);
}
.button5:hover{
  background-color: var(--color-lynch);
  color: var(--color-catSkill);
  border: 1px solid var(--color-catSkill);
}
