:root {
  --color-pigeon: #b2b2dc;
  --color-powder: #3d3d5c;
  --color-polo: #89a7d1;
  --color-lynch: #637b97;
  --color-catSkill: #dee9f2;
  --color-camelot: #8f2d56;
  --color-amber: #f1c40e;
  --color-carrot: #fc923b;


}
