.contenedor{
height: 100vh;
/* background-color: var(--primero); */
/* background-color: var(--segundo); */
/* background-color: var(--tercero); */
background-color: var(--cuarto);
/* background-color: var(--quinto); */
/* background-color: var(--sexto); */


}

.sarasa{
  height: 40vh;
  display: flex;


}
.menu_lateral{

  background-color: var(--quinto);
  color: var(--cuarto);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  margin-top: 8rem;
  height: 100%;
  padding: 0;

}
.carousel{
  margin-top: 8rem;
  height: 100%;
  padding: 0;

}

.cartas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 14rem;

}


@media screen and (max-width: 768px) {

  .menu_lateral{
    margin-top: 4rem;
  }
  .carousel{
    margin-top: 0rem;
  }

}
