
<div class=" container-fluid contenedor ">
  <div class="row">
<app-navbar
[navbarId]="'navbar'"
[navbarTarget]="'#navbar'"
[navbarClass1]="'fixed-top navbar navbar-expand-lg bodyNav  '"
[navbarClass2]="'collapse navbar-collapse '"
[navbarClass3]="'d-flex w100 justify-content-end me-4 '"
[navbarClass4]="'textNav'"

[brand]="'Astrology Tea'"
[link1]="'https://getbootstrap.com/docs/5.3/components/navbar/'"
[texto2]="'Home'"
[link2]="'#'"
[texto3]="'Productos'"
[link3]="'#'"
[texto4]="'Contacto'"
[link4]="'#'"

[dropDown]="true"
[texto8]="'Ver mas'"
[link8]="'#'"
[texto9]="'opcion 1'"
[link9]="'#'"
[texto10]="'opcion 2'"
[link10]="'#'"
[texto11]="'opcion 3'"
[link11]="'#'"

[colapse]="true"

></app-navbar>

</div>

<div class="row sarasa">

  <div class=" menu_lateral col-12 col-sm-12 col-md-3 col-xl-4 ">
    <div>Lorem, ipsum dolor.</div>
    <div>Astrology tea</div>
    <div>descripcion</div>
    <div class="p-5 d-flex">
      <button> un boton</button>
      <button> otro boton</button>
    </div>
  </div>


  <div class=" carousel col-12 col-sm-12 col-md-9 col-xl-8 ">
    <app-carrousel
    [id]="'carousel3'"
    [target]="'#carousel3'"
    [carouselRide]="'carousel'"
    [carouselClass]="'carousel slide'"
    [carouselClass1]="'carousel-indicators'"
    [carouselClass2]="'carousel-item'"
    [carouselImg]="'img40'"
    [carouselRide]="'carousel'"
    [slide1Title]="' Primer slide carro 2 ' "
    [slide1Text]="'Sarasa lorem ipsum dolor sit amet, consectetur adipiscing elit.'"
    [slide1Img]="'../../../assets/teapot1.png'"
    [slide2Title]="' Segunda slide carro 3 ' "
    [slide2Text]="' Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aliquam perspiciatis distinctio beatae sunt illo?'"
    [slide2Img]="'../../../assets/teapot2.png'"
    [slide3Title]="' Tercer slide carro 3 ' "
    [slide3Text]="'  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium labore incidunt alias dolor.'"
    [slide3Img]="'../../../assets/teapot3.png'"
    ></app-carrousel>
  </div>
</div>

<div class="row productos">
<app-card
class="cartas"
[cardClass]="'card1 cartas'"

[datosCards]="datosCards"
[var1]="'imgCard'"
[var2]="'titleCard'"
[var3]="'textCard'"


></app-card>

</div>


  <!-- Cards -->
  <div *ngIf="buttonWasClicked6" class="cartas">

    <app-card
    class="cartas"
  [cardClass]="'card1 cartas'"
  [listGroup]="true"
  [cardImg]="true"
  [listGroup]="true"
  [cardFooter]="true"
  [datosCards]="datosCards"
  [var1]="'imgCard'"
  [var2]="'titleCard'"
  [var3]="'textCard'"
  [var4]="'item1'"
  [var5]="'item2'"
  [var6]="'item3'"
  [var7]="'url1'"
  [var8]="'linkText1'"
  [var9]="'url2'"
  [var10]="'linkText2'"
  ></app-card>



</div>

<div class="row">
<app-navbar
[navbarId]="'footer'"
[navbarTarget]="'#footer'"
[navbarClass1]="'fixed-bottom navbar navbar-expand-lg bodyNav1 '"
[navbarClass2]="'d-flex flex-column justify-content-center '"
[texto12]="'Esto es un footer'"
></app-navbar>

</div>

</div>



<!--  Modals  y canvas -->
<div>
  <app-modal
  [id]="'modal1'"
  [modalClass]="' modal-lg '"
  [modalBack]="'false'"
  [modalTitle]="' Modal backdrop false'"
  [modalContent]="'El usuario no puede ignorar el modal pero el fondo fuera del modal es el mismo '"
  [modalButton1]="'gatinho'"
  [modalButton2]="'Ferrar'"
  ></app-modal>
  <app-modal
  [id]="'modal2'"
  [modalClass]="'fade'"
  [modalBack]="'static'"
  [modalTitle]="'Modal backdrop static'"
  [modalContent]="'El usuario no puede ignorar el modal y el fondo fuera del modal está grisado'"
  [modalButton1]="'kitten'"
  [modalButton2]="'Close'"
  ></app-modal>
  <app-modal
  [id]="'modal3'"
  [modalClass]="'fade'"
  [modalDClass]="'modal-dialog-centered'"
  [modalBack]="'true'"
  [modalTitle]="'Modal backdrop true'"
  [modalContent]="'El usuario puede hacer click fuera del modal ignorando el contenido. el fondo es grisado. modal-dialog-centered '"
  [modalButton1]="'gatito'"
  [modalButton2]="'Cerrar'"
  ></app-modal>
  <app-modal
  [id]="'modal4'"
  [modalClass]="'fade'"
  [modalDClass]="'modal-fullscreen'"
  [modalBack]="'static'"
  [modalTitle]="'Modal backdrop static'"
  [modalContent]="'El usuario no puede ignorar el modal y el fondo fuera del modal está grisado'"
  [modalButton1]="'kitten'"
  [modalButton2]="'Close'"
  ></app-modal>
  <!--  Canvas -->
  <app-canvas
    [id]="'canvas1'"
    [canvasTitle]="'Canvas 1'"
    [canvasContent]="'Contenido del Canvas 1'"
    [canvasButton1]="'Cerrar'"
    [canvasClass] ="'offcanvas-start pigeon'"
  ></app-canvas>
  <app-canvas
    [id]="'canvas2'"
    [canvasTitle]="'Canvas 2'"
    [canvasContent]="'Similar a un modal'"
    [canvasButton1]="'Aceptar'"
    [canvasClass] ="'offcanvas-top centrado fifty '"
  ></app-canvas>
  <app-canvas
    [id]="'canvas3'"
    [canvasTitle]="'Canvas 3'"
    [canvasContent]="'Contenido del Canvas 3'"
    [canvasButton1]="'Cerrar'"
    [canvasClass] ="'offcanvas-end powder fifty'"
  ></app-canvas>
  <app-canvas
    [id]="'canvas4'"
    [canvasTitle]="'Canvas 4'"
    [canvasContent]="'Contenido del Canvas 4'"
    [canvasButton1]="'Opciones'"
    [canvasClass] ="'offcanvas-bottom text-bg-dark'"
  ></app-canvas>
</div>



