<div class=" container-fluid contenedor d-flex">



  <!-------------->
  <!-- Botones  -->
  <!-------------->

  <div class=" menu_lateral col-5 col-sm-4 col-md-3 col-xl-2">
    <!-- Botones table  -->

    <div class="w-75">
      <app-button
      (buttonClick)="handleButtonClick()"
      [buttonText]="'Tabla 1'"
      [buttonClass]="'btn button button1 opacity-75 w-100 mb-1'">
      </app-button>
    </div>

    <div class="w-75">
      <app-button
      (buttonClick)="handleButtonClick2()"
      [buttonText]="'Tabla 2'"
      [buttonClass]="'btn button button1 w-100 mb-2'">
      </app-button>
    </div>
    <div class="border-bottom w-75 mb-2"></div>

    <!-- Botones Charts -->
    <div class="w-75">
      <app-button
      (buttonClick)="handleButtonClick3()"
      [buttonText]="'Charts1'"
      [buttonClass]="'btn button button4 w-100 mb-2'">
      </app-button>
    </div>
    <div class="w-75">
      <app-button
      (buttonClick)="handleButtonClick4()"
      [buttonText]="'Charts2'"
      [buttonClass]="'btn button button4 w-100 mb-2'">
      </app-button>
    </div>

    <div class="w-75">
      <app-button
      (buttonClick)="handleButtonClick5()"
      [buttonText]="'Charts3'"
      [buttonClass]="'btn button button4 w-100 mb-2'">
      </app-button>
    </div>

    <div class="border-bottom w-75 mb-2"></div>
    <!-- Botones modales  -->
    <div class="w-75">
      <app-button
      [buttonText]="'Modal No static '"
      [buttonClass]="'btn  button button2 w-100 mb-1'"
      data-bs-toggle="modal"
      data-bs-target="#modal1"
      ></app-button>
    </div>
    <div class="w-75">
      <app-button
      [buttonText]="'Modal static gris '"
      [buttonClass]="'btn button button2 w-100 mb-1 '"
      data-bs-toggle="modal"
      data-bs-target="#modal2"
        ></app-button>
    </div>
    <div class="w-75">
      <app-button
      [buttonText]="'Modal static T'"
      [buttonClass]="'btn button button2 w-100 mb-1'"
      data-bs-toggle="modal"
      data-bs-target="#modal3"
      ></app-button>
    </div>
    <div class="w-75">
      <app-button
      [buttonText]="'Modal fullscreen'"
      [buttonClass]="'btn button button2 w-100 mb-2'"
      data-bs-toggle="modal"
      data-bs-target="#modal4"
      ></app-button>
    </div>
    <div class="border-bottom w-75 mb-2"></div>

    <!-- Botones Canvas  -->
    <div class="w-75">
    <app-button
    [buttonText]="'Canvas 1'"
    [buttonClass]="'btn button button3 w-100 mb-1 '"
    data-bs-toggle="offcanvas"
    data-bs-target="#canvas1"
      > </app-button>
  </div>
    <div class="w-75">
    <app-button
    [buttonText]="'Canvas 2'"
    [buttonClass]="'btn button button3 w-100 mb-1 '"
    data-bs-toggle="offcanvas"
    data-bs-target="#canvas2"
      > </app-button>
  </div>
    <div class="w-75">
    <app-button
    [buttonText]="'Canvas 3'"
    [buttonClass]="'btn button button3 w-100 mb-1 '"
    data-bs-toggle="offcanvas"
    data-bs-target="#canvas3"
      > </app-button>   </div>
    <div class="w-75">
    <app-button
    [buttonText]="'Canvas 4'"
    [buttonClass]="'btn button button3 w-100 mb-1 '"
    data-bs-toggle="offcanvas"
    data-bs-target="#canvas4"
      > </app-button>
  </div>
  </div>

<!-- Tables -->
  <div class="col-7 col-sm-8 col-md-9 col-xl-10 content p-4">

    <ng-container *ngIf="!buttonWasClicked && !buttonWasClicked2 && !buttonWasClicked3 && !buttonWasClicked4 && !buttonWasClicked5">
      <div class="Container">
        <h1>Angular Component Driven Development Example</h1>
        <p>Try pressing the different buttons</p>
      </div>

      <app-carrousel
      [id]="'carrousel1'"
      [texto]="' Primer slide carro 1 ' "
      [carouselClass]="'carousel slide '"
      [carouselClass1]="'carousel-indicators'"
      ></app-carrousel>


      <div class="border-bottom w-75 mb-2"></div>




    </ng-container>


    <app-table
    *ngIf="buttonWasClicked"
    [tableClass] ="'table2 w-75 rounded-4'"
    [nameCol1]="'CNPJ'"
    [nameCol2]="'user'"
    [nameCol3]="'company'"
    [nameCol4]="'email'"
    [datosTabla]="brokers"
    [var1]="'ID'"
    [var2]="'CNPJ'"
    [var3]="'user'"
    [var4]="'company'"
    [var5]="'email'"
    ></app-table>
    <app-table
    *ngIf="buttonWasClicked2"
    [tableClass] ="'table1 w-50 rounded-3'"
    [nameCol1]="'Name'"
    [nameCol2]="'Address'"
    [nameCol3]="'phone'"
    [nameCol4]="'email'"
    [datosTabla]="clients"
    [var1]="'clientName'"
    [var2]="'address'"
    [var3]="'phone'"
    [var4]="'email'"
    ></app-table>
    <p>{{ textoPrueba }}</p>


<!-- Charts 1 -->
  <div class="container" *ngIf="buttonWasClicked3">
    <div class="row ">
      <div class="col-6">
      <app-chart
        [id]="'chart1'"
        [chartType]="'line'"
        [chartClass]="'w-100'"
        [dataLabels]="labels"
        [border]="'#3d3d5c'"

        [dataValues1]="values1"
        [dataLabel1]="'Valores A'"
        [data1Bg]="'rgba(178, 178, 220, 0.65)'"
        [data1Hidden]="false"

        [dataValues2]="values2"
        [dataLabel2]="'Valores B'"
        [data2Bg]="'#89a7d1'"

        [data2Hidden]="false"

        [dataValues3]="values5"
        [dataLabel3]="'Valores C'"
        [data3Bg]="'#89a7d1'"
        [data3Hidden]="false"
        ></app-chart>
      </div>
      <div class="col-6">
        <app-chart
          [id]="'chart2'"
          [chartType]="'bar'"
          [chartClass]="'w-100'"
          [dataLabels]="labels"
          [border]="'#3d3d5c'"

          [dataValues1]="values1"
          [dataLabel1]="'Valores A'"
          [data1Bg1]="[
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)'
        ]"
          [data1Hidden]="false"

          [dataValues2]="values2"
          [dataLabel2]="'Valores B'"
          [data2Bg]="'#89a7d1'"
          [data2Hidden]="false"

          [dataValues3]="values5"
          [dataLabel3]="'Valores C'"
          [data3Bg]="'#89a7d1'"
          [data3Hidden]="false"
          ></app-chart>
        </div>

    </div>
      <div class="row pt-5">
        <div class="col-6">
          <app-chart
          [id]="'chart3'"
          [chartType]="'line'"
          [chartClass]="'w-100'"
          [dataLabels]="labels"
          [tension]="0.5"
          [border]="'#8f2d56'"
          [radius]="0"
          [borderWith]="1"

          [dataValues1]="values1"
          [dataLabel1]="'Valores A'"
          [data1Bg]="'rgba(178, 178, 220, 0.35)'"
          [data1Hidden]="false"
          [datafill]="true"

          [dataValues2]="values2"
          [dataLabel2]="'Valores B'"
          [data2Bg]="'rgba(255, 99, 132, 0.35)'"
          [data2Hidden]="false"

          [dataValues3]="values5"
          [dataLabel3]="'Valores C'"
          [data3Bg]="'#89a7d1'"
          [data3Hidden]="false"

          ></app-chart>


        </div>
        <div class="col-6">
        <app-chart
        [id]="'chart4'"
        [chartType]="'radar'"
        [chartClass]="'w-75'"
        [dataLabels]="labels1"
        [border]="'#3d3d5c'"
        [datafill]="true"

        [dataValues1]="values3"
        [dataLabel1]="'Valores X'"
        [data1Bg]="'rgba(178, 178, 220, 0.65)'"
        [data1Hidden]="false"

        [dataValues2]="values4"
        [dataLabel2]="'Valores Y'"
        [data2Bg]="'#ffbf00'"

        [data2Hidden]="false"
        [data3Bg]="'transparent'"
        [data3border]="'transparent'"
        ></app-chart>
      </div>


      </div>
  </div>

<!-- Charts 2 -->

  <div class="container contenedor" *ngIf="buttonWasClicked4">
<div class="row">
  <div class="col-6">
      <app-chart
        [id]="'chart5'"
        [chartType]="'pie'"
        [chartClass]="'w-50'"
        [dataLabels]="labels"

        [dataValues1]="values1"
        [dataLabel1]="'Valores A'"

        [data1Bg1]=" [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)'
      ]"
        [data1border]="'#3d3d5c'"
        [data1Hidden]="false"

        ></app-chart>
      </div>
<div class="col-6">
        <app-chart
          [id]="'chart6'"
          [chartType]="'doughnut'"
          [chartClass]="'w-75'"
          [dataLabels]="labels"

          [dataValues1]="values1"
          [dataLabel1]="'Valores A'"
          [data1border]="'#3d3d5c'"
          [data1Hidden]="false"
          [data1Bg1]="[
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)',
          'rgb(155, 99, 100)',
          'rgb(154, 62, 135)',
          'rgb(200, 105, 186)',
        ]"


          [dataValues2]="values2"
          [dataLabel2]="'Valores B'"

          [data2border]="'#3d3d5c'"
          [data2Hidden]="false"
          [data2Bg2]="[
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)',
          'rgb(155, 99, 100)',
          'rgb(154, 62, 135)',
          'rgb(200, 105, 186)'
        ]"

          [dataValues3]="values5"
          [dataLabel3]="'Valores C'"

          [data3border]="'#3d3d5c'"
          [data3Hidden]="false"
          [data3Bg3]="[
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)',
          'rgb(155, 99, 100)',
          'rgb(154, 62, 135)',
          'rgb(200, 105, 186)'
        ]"
          ></app-chart>
        </div>

      </div>
<div class="row">

  <div class="col-8">
        <app-chart
        [id]="'chart7'"
        [chartType]="'polarArea'"
        [chartClass]="'w-50 marginNegative'"
        [dataLabels]="labels"
        [labelDisplay]="true"

        [dataValues1]="values1"
        [dataLabel1]="'Valores A'"

        [data1border]="'#3d3d5c'"
        [data1Hidden]="false"
        [data1Bg1]="[
        'rgba(255, 99, 132, 0.65)',
        'rgba(54, 162, 235, 0.65)',
        'rgba(255, 205, 86, 0.65)',
        'rgba(155, 99, 100, 0.65)',
        'rgba(154, 62, 135, 0.65)',
        'rgba(200, 105, 186, 0.65)',
      ]"

        [dataValues2]="values2"
        [dataLabel2]="'Valores B'"

        [data2border]="'#637b97'"
        [data2Hidden]="false"
        [data2Bg2]="[
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)',
          'rgb(155, 99, 100)',
          'rgb(154, 62, 135)',
          'rgb(200, 105, 186)'
        ]"
        ></app-chart>
      </div>

      </div>

      <div class="col-4"></div>
  </div>



<!-- Charts 3 -->
<div class="" *ngIf="buttonWasClicked5">
  <div class="row ">

    <div>
      <h2> Mismos datos mostrados diferente</h2>
      <label class="px-2">
        <input type="radio" name="chartType" value="line" [(ngModel)]="chartType"> Line
      </label>
      <label  class="px-2">
        <input type="radio" name="chartType" value="bar" [(ngModel)]="chartType"> Bar
      </label>
      <label  class="px-2">
        <input type="radio" name="chartType" value="radar" [(ngModel)]="chartType"> Radar
      </label>
      <label  class="px-2">
        <input type="radio" name="chartType" value="pie" [(ngModel)]="chartType"> Pie
      </label>
    </div>






    <ng-container *ngIf="chartType === 'line'">
    <app-chart
      [id]="'chart8'"
      [chartType]="'line'"
      [chartClass]="'w-75'"
      [dataLabels]="labels"
      [border]="'#3d3d5c'"

      [dataValues1]="values1"
      [dataLabel1]="'Valores A'"
      [data1Bg]="'rgba(178, 178, 220, 0.65)'"
      [data1Hidden]="false"

      [dataValues2]="values2"
      [dataLabel2]="'Valores B'"
      [data2Bg]="'#89a7d1'"

      [data2Hidden]="false"

      [dataValues3]="values5"
      [dataLabel3]="'Valores C'"
      [data3Bg]="'#89a7d1'"
      [data3Hidden]="false"
      ></app-chart>
    </ng-container>
    <ng-container *ngIf="chartType === 'bar'">
      <app-chart
        [id]="'chart8'"
        [chartType]="'bar'"
        [chartClass]="'w-75'"
        [dataLabels]="labels"
        [border]="'#3d3d5c'"

        [dataValues1]="values1"
        [dataLabel1]="'Valores A'"
        [data1Bg]="'rgba(178, 178, 220, 0.65)'"
        [data1Hidden]="false"

        [dataValues2]="values2"
        [dataLabel2]="'Valores B'"
        [data2Bg]="'#89a7d1'"

        [data2Hidden]="false"

        [dataValues3]="values5"
        [dataLabel3]="'Valores C'"
        [data3Bg]="'#89a7d1'"
        [data3Hidden]="false"
        ></app-chart>
      </ng-container>
      <ng-container *ngIf="chartType === 'radar'">
        <app-chart
          [id]="'chart8'"
          [chartType]="'radar'"
          [chartClass]="'w-50'"
          [dataLabels]="labels"
          [border]="'#3d3d5c'"
          [datafill]="true"

          [dataValues1]="values1"
          [dataLabel1]="'Valores A'"
          [data1Bg]="'rgba(255, 99, 132, 0.35)'"
          [data1Hidden]="false"

          [dataValues2]="values2"
          [dataLabel2]="'Valores B'"
          [data2Bg]="'rgba(54, 162, 235, 0.35)'"

          [data2Hidden]="false"

          [dataValues3]="values5"
          [dataLabel3]="'Valores C'"
          [data3Bg]="'rgba(255, 205, 86, 0.65)'"
          [data3Hidden]="false"
          ></app-chart>
        </ng-container>

        <ng-container *ngIf="chartType === 'pie'">
          <app-chart
            [id]="'chart8'"
            [chartType]="'pie'"
            [chartClass]="'w-50'"
            [dataLabels]="labels"
            [border]="'#3d3d5c'"

            [dataValues1]="values1"
            [dataLabel1]="'Valores A'"
            [data1Bg1]="[
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)',
          'rgb(155, 99, 100)',
          'rgb(154, 62, 135)',
          'rgb(200, 105, 186)',
        ]"
            [data1Hidden]="false"

            [dataValues2]="values2"
            [dataLabel2]="'Valores B'"
            [data2Bg2]="[
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)',
            'rgb(155, 99, 100)',
            'rgb(154, 62, 135)',
            'rgb(200, 105, 186)',
          ]"

            [data2Hidden]="false"

            [dataValues3]="values5"
            [dataLabel3]="'Valores C'"
            [data3Bg3]="[
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)',
            'rgb(155, 99, 100)',
            'rgb(154, 62, 135)',
            'rgb(200, 105, 186)',
          ]"
            [data3Hidden]="false"
            ></app-chart>
          </ng-container>

    </div>


  </div>

</div>

</div>

<!--  Modals  y canvas -->
<div>
  <app-modal
  [id]="'modal1'"
  [modalClass]="' modal-lg '"
  [modalBack]="'false'"
  [modalTitle]="' Modal backdrop false'"
  [modalContent]="'El usuario no puede ignorar el modal pero el fondo fuera del modal es el mismo '"
  [modalButton1]="'gatinho'"
  [modalButton2]="'Ferrar'"
  ></app-modal>
  <app-modal
  [id]="'modal2'"
  [modalClass]="'fade'"
  [modalBack]="'static'"
  [modalTitle]="'Modal backdrop static'"
  [modalContent]="'El usuario no puede ignorar el modal y el fondo fuera del modal está grisado'"
  [modalButton1]="'kitten'"
  [modalButton2]="'Close'"
  ></app-modal>
  <app-modal
  [id]="'modal3'"
  [modalClass]="'fade'"
  [modalDClass]="'modal-dialog-centered'"
  [modalBack]="'true'"
  [modalTitle]="'Modal backdrop true'"
  [modalContent]="'El usuario puede hacer click fuera del modal ignorando el contenido. el fondo es grisado. modal-dialog-centered '"
  [modalButton1]="'gatito'"
  [modalButton2]="'Cerrar'"
  ></app-modal>
  <app-modal
  [id]="'modal4'"
  [modalClass]="'fade'"
  [modalDClass]="'modal-fullscreen'"
  [modalBack]="'static'"
  [modalTitle]="'Modal backdrop static'"
  [modalContent]="'El usuario no puede ignorar el modal y el fondo fuera del modal está grisado'"
  [modalButton1]="'kitten'"
  [modalButton2]="'Close'"
  ></app-modal>
  <!--  Canvas -->
  <app-canvas
    [id]="'canvas1'"
    [canvasTitle]="'Canvas 1'"
    [canvasContent]="'Contenido del Canvas 1'"
    [canvasButton1]="'Cerrar'"
    [canvasClass] ="'offcanvas-start pigeon'"
  ></app-canvas>
  <app-canvas
    [id]="'canvas2'"
    [canvasTitle]="'Canvas 2'"
    [canvasContent]="'Similar a un modal'"
    [canvasButton1]="'Aceptar'"
    [canvasClass] ="'offcanvas-top centrado fifty '"
  ></app-canvas>
  <app-canvas
    [id]="'canvas3'"
    [canvasTitle]="'Canvas 3'"
    [canvasContent]="'Contenido del Canvas 3'"
    [canvasButton1]="'Cerrar'"
    [canvasClass] ="'offcanvas-end powder fifty'"
  ></app-canvas>
  <app-canvas
    [id]="'canvas4'"
    [canvasTitle]="'Canvas 4'"
    [canvasContent]="'Contenido del Canvas 4'"
    [canvasButton1]="'Opciones'"
    [canvasClass] ="'offcanvas-bottom text-bg-dark'"
  ></app-canvas>
</div>
