.contenedor{
height: 100vh;
/* width: 100vw; */
}
.menu_lateral{
  background-color: var(--color-pigeon);
  padding-top: 10rem;
  padding-left: 1rem;

}
.content {
background-color: var(--color-catSkill);
}
